.banner {
    height: calc(100vh - 86px);
    background-image: url("../images/contact/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 44%
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center
}

.banner .container .banner-content {
    width: 100%
}

.banner .container .banner-content h3,
.banner .container .banner-content h4 {
    color: #fff !important
}

.banner .container .banner-content h3 {
    font-size: calc(3.75rem + 1.5vw) !important
}

.banner .container .banner-content h4 {
    font-size: calc(2.75rem + 1.3vw) !important
}

.contact-form form {
    border: 3px solid #ab7d67;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(234, 217, 201, 0.7)
}

.contact-form form label {
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ab7d67
}

.contact-form form label select,
.contact-form form label input,
.contact-form form label textarea {
    width: 100%;
    outline: none !important;
    background-color: transparent;
    border: 1px solid #ab7d67;
    color: #ab7d67;
    padding: 8px 10px;
    margin-bottom: 8px
}

.location .l-info h4 {
    font-size: calc(1.25rem + 1.2vw) !important;
    color: #ab7d67 !important;
    font-family: "Moglan" !important
}

.location .l-info p {
    color: #ab7d67
}

.subcribe-form {
    border-top: 1px solid #ab7d67;
    overflow: hidden
}

.subcribe-form .material {
    position: absolute;
    width: 100px
}

.subcribe-form .i-left {
    bottom: 0;
    left: -50px;
    transform: rotate(135deg)
}

.subcribe-form .i-right {
    top: 30px;
    right: -50px;
    transform: rotate(-35deg)
}

.subcribe-form form h3 {
    text-align: center
}

.subcribe-form form label:not(.wrap-cb) {
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ab7d67
}

.subcribe-form form label:not(.wrap-cb) select,
.subcribe-form form label:not(.wrap-cb) input {
    width: 100%;
    outline: none !important;
    background-color: transparent;
    border: 1px solid #ab7d67;
    color: #ab7d67;
    padding: 8px 10px;
    margin-bottom: 8px
}

.subcribe-form form .wrap-cb {
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ab7d67;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.subcribe-form form .wrap-cb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.subcribe-form form .wrap-cb input:checked~.checkmark {
    background-color: #ab7d67
}

.subcribe-form form .wrap-cb input:checked~.checkmark:after {
    display: block
}

.subcribe-form form .wrap-cb .checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #ab7d67
}

.subcribe-form form .wrap-cb .checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.subcribe-form form .wrap-cb .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}